<div data-ntnx-content-inner>
	<div class="fileCategoryContainer">
		<section data-ntnx-section>
		  <h5 data-ntnx-title>Update File Category</h5>
		</section>
		<!-- File Category update hint -->
    <section data-ntnx-section="type-text" class="fileCategoryUpdateHint">
      Update file category by adding/removing extensions/categories.
      This configuration will be used to classify files based on category.
      Capacity detail in terms of file category will be calculated based on
      the latest configuration, whereas the old data will not be modified.
    </section>
    <section data-ntnx-section="type-text">
      <div class="alert alert-info">
        Files with no extension are categorized under "No Extension" category
        and all other extensions which do not fall under any category defined
        below will be categorized under "Others" category by default.
      </div>
    </section>
    <section data-ntnx-section class="fileCategoryTable">
    	<!-- Category Table -->
    </section>
  </div>
</div>