<!-- <div id="nutanixConfirmModal" class="modal fade in -red-confirm fadeExt"
aria-hidden="false" style="display: block;">
 -->  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body n-modal-body">
        <div class="n-modal-content-wrapper">
          <div class="n-title"></div>
          <div class="n-popup-description"><%= message %></div>
          <div class="modal-extensions"></div>
        </div>
        <div class="modal-spinner" style="display:none;">
        </div>
        <div class="modal-buttons">
          <button type="button" class="btn btnClose btn-primary btnYes">Ok
          </button>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->