.health-container .entityTypesSummary .entityTypeStats .pull-right .count-box,
.n-vantage-point-holder > .n-vantage-point.n-vantage-point-summary.n-vantage-point-summary-health .entity-type-name {
  width: auto;
}
.n-vantage-point-holder > .n-vantage-point .n-column-content .n-chart svg.chart {
  height: 65px;
  min-height: 65px;
}
.n-vantage-point .n-content {
  overflow: visible !important;
}
.health-container .entityTypesSummary .entityTypeStats {
  cursor: initial;
}