#capacityTrendPopupView {
  width: 800px;
}
#capacityTrendPopupForm .time-filter {
  display: inline-flex;
}
#capacityTrendPopupForm .time-filter .interval-templ {
  margin-right: 10px;
}
.capacity-details-table .noData {
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  z-index: 1;
  top: 250px;
  left: calc((100% - 105px)/2);
}
.capacity-details-table .n-loading {
  position: absolute;
  z-index: 1;
  top: 250px;
  left: calc((100% - 105px)/2);
}
.capacity-summary-table .noData {
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  z-index: 1;
  top: 75px;
  left: calc((100% - 105px)/2);
}
.capacity-trends .n-content {
  overflow: visible !important;
}