<!-- Content
================================================== -->

<!-- Main navigation bar and page wrapper
================================================== -->
<div id="containerFluid" class="container-fluid" data-tutorial="body">

  <!-- Page Loader
  ================================================== -->
  <div class="page-loader"></div>

  <!-- Header
  ================================================== -->
  <div id="n-header" class="header customheader">
    <!-- @view: Header view goes here... -->
  </div>

  <!-- Body
  ================================================== -->
  <div id="n-body-content" class="row-fluid">

    <!-- Content-View Wrapper
    ================================================== -->
    <div id="n-view-wrapper" class="span12">

      <!-- 2) Page View (current cluster view)
      ================================================== -->
      <div id="n-view-cluster-wrapper">
        <!-- Pages
        ================================================== -->
        <div id="n-ctr-page" class="page-content"></div>
        <!-- Progress Loader
        ================================================== -->
        <div class="progress-loader-wrapper">
          <div class="progress-loader"></div>
        </div>

      </div><!-- /Page View Wrapper -->

    </div><!-- /Content-Wrapper -->
  </div><!-- /Body -->

</div><!-- /Content -->

<!-- Notification Center
================================================== -->
<div id="n-ctr-notification">
  <!-- @view: Notification view goes here... -->
</div>

<!-- Modals Popups Container
================================================== -->
<div id="globalModalWrapper">
  <div id="globalModalContainer">

    <!-- Popup divs are dynamically created here. -->

    <!-- Confirm dialog popup will be created here. -->

  </div>
</div>
