<section data-ntnx-content-inner>
  <div class="blacklistRulesContainer">
    <section data-ntnx-section>
      <h5 data-ntnx-title>Blacklist users, file extensions and client IP</h5>
    </section>
    <!-- Blacklist rules update hint -->
    <section data-ntnx-section="type-text" class="blacklistRulesUpdateHint">
      Blacklisting rules can be defined based on the users, file extensions
      and client ips. Multiple comma and space separated entities can be
      defined under any of the category.
    </section>
    <section data-ntnx-section>
      <div data-ntnx-section class="blacklistRulesTable">
      <!-- Blacklist rules Table -->
      </div>
    </section>
  </div>
</section>