<div class="n-empty col-md-offset-2 col-md-8">
    <div class="col-md-10 col-md-offset-1 text-center">
        <h2>Anomaly Rules</h2>
        <p class="txtConfigureAlerts">No anomaly rules defined.
            Once defined, the
            dashboard page will automatically show</p>
        <div class="col-md-offset-3 anomaly-list">
            <ul class="txtConfigureAlerts">
                <li>Anomaly trend for last 7 days, 30 days and 1
                    year
                </li>
                <li>Top users and folders source of anomaly and</li>
                <li>Anomaly event types</li>
            </ul>
        </div>
        <p class="txtConfigureAlerts">Besides dashboard data, for each anomaly,
            email will be sent out to the
            configured
            email id.</p>

        <div class="sample-image">
            <img src="<%= image %>" class="img-responsive"
                 alt="<%= imageText %>">
        </div>

        <div class="configureAlerts">
            <span class="titleConfigure">
                <button class="btn n-primary-btn defineRule">
                    Define Anomaly Rules
                </button>
            </span>
        </div>
    </div>
</div>