<div class="col-md-4 col-md-offset-4">
  <section data-ntnx-section="type-separator">
    <h5 data-ntnx-title>Scanning Detail</h5>
  </section>
  <section data-ntnx-section>
    <table class="dataTable">
      <tbody>
        <tr class="odd statusProgress">
        <td colspan="2"></td>
        </tr>
        <tr class="even">
          <td>Share scanned status</td>
          <td><%= shareStatus %></td>
        </tr>
        <tr class="odd">
          <td>Shares scanned</td>
          <td><%= sharesCompleted %> of <%= sharesTotal %></td>
        </tr>
      </tbody>
    </table>
  </section>
  <section data-ntnx-section="type-separator" class="text-center">
    <button class="btn n-primary-btn btnViewDashboard">View Dashboard</button>
  </section>
</div>